<h1>TODO: Add Transactions list here</h1>
<ol>
  <li>
    NB: Create a reusable search component and use it here to serach a
    transaction by transaction ID)
  </li>
  <li></li>
  <li>Display the search results in the table below</li>
</ol>
<table class="table">
  <thead>
    <tr>
      <th>Transaction Id</th>
      <th>Customer Id</th>
      <th>Account No</th>
      <th>Amount</th>
      <th>Balance</th>
      <th>Trn Type</th>
      <th>Debit/Credit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>?</td>
      <td>?</td>
      <td>?</td>
      <td>?</td>
      <td>?</td>
      <td>?</td>
      <td>?</td>
    </tr>
  </tbody>
</table>
